# Created by https://www.gitignore.io

### Vim ###
[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
*.un~
Session.vim
.netrwhist
*~
.vim
tags
vim/plugged
vim/plugged/**
vim/sessions/**
vim/spell/**
plug.vim.old
vim/session/**
vim/vim
tmux/tmux
tmux/plugins/**
!tmux/plugins/tpm
vim/init.vim
GPATH
GRTAGS
GSYMS
GTAGS
**/eclim/**
**/eclim.vim
