snippet fileiter "Iterate over lines in a file" b
while read ${2:line}; do
	${0:echo "\$$2"}
done <${1:filename}
endsnippet

snippet arrayiter "Iterate over an array" b
for ${2:element} in \${$1[@]}; do
	echo \$${2:element}$0
done
endsnippet
